@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share styles */
.dark-black{
    color: #000000;
}
.light-black{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}
.display-flex{
    display: flex;
}
.width{
    max-width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    background-color: #E95A08;
    width: 270px;
    padding: 19px 80px;
    border: none;
    color: white;
    font-size: 600;
    font-size: 1rem;
    
}



/* nav styles */
.navber{
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-left: 48px;

}
.nav-link{
    text-decoration: none;
    color: #8987A1;
    font-size: 1rem;
}
#home{
    color: #252432;
}
#Cart{
    color: #000000;
}


.nav-icon{
    max-width: 135px;
}

/* hero related style */
.hero{
    
    margin-top: 108px;
}
.hero-title{
    font-size: 4rem;
    font-weight: bold;
    max-width: 570px;
}
.hero-description{
    font-size: 1.4rem;
    font-weight: 500;
}
/* simple plant styles */
.plant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
.plant{
    text-align: center;
    margin: 0 126px;

}
.plant-title{
    margin-top: 225px;
    font-size: 3.2rem;
    font-weight: bold;
}
.plant-description{
    font-size: 1.4rem;
}
.simple-flower{
    max-width:270px ;
    height: 480px;
    justify-content: center;
    text-align: center;
}
.flower-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: #111111;
    margin-bottom: 10px;
    margin-top: 20px;


}
.used-number{
    font-size: 1.4rem;
    font-weight: bold;
    color: #111111;
    margin-bottom: 15px;
    margin-top: 15px;

}
    
    
    




/* responsive media style*/
@media screen and (max-width:576px) {
    .hero,
     .nav-links,
     .navber,
     .simple-plant
     {
        flex-direction: column-reverse;
    }
    .hero-container{
        justify-items:center ;
    }
    .hero-img{
        width: 100%;
    }
    .plant-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}